
h1 {
  font-family: sans-serif, monospace;
  color: white;
  font-size: 50px;  
  text-align: center;    
}

h2 {
  font-family: sans-serif, monospace;
  color: gray;
  font-size: 25px;
  text-align: center;
}

h3 {
  font-family: 'Open Sans Condensed', sans-serif;
  color: gray;
  font-size: 25px;
  margin-left: 32px;
}

h4 {
  font-family: cursive, sans-serif, monospace;
  color: white;
  font-size: 15px;
  padding: 0;
  margin: 0;
  line-height: 15px;
}

h5 {
  font-family: cursive, sans-serif, monospace;
  color: gray;
  font-size: 10px;
  text-align: center;
  margin-top: 200px;
}

.button1 {
  font-family: cursive, sans-serif, monospace;
  background-color: black; 
  color: limegreen;
  border: none;
}

.button2 {
  font-family: cursive, sans-serif, monospace;
  background-color: black; 
  color: red;
  border: none;
}

.button3 {
  font-family: cursive, sans-serif, monospace;
  background-color: black; 
  color: yellow;
  border: none;
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }

  to {
    -webkit-filter: hue-rotate(360deg);
  }
}
